<% provide(:title, "#{@taxon.name}") %>
<%= render 'page_header', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'side_bar', categories: @categories %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render partial: "product", collection: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'logo_slider' %>
